<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fadedos.springbootredis.dao.UserDao">

    <!--开启mybatis 二级缓存 默认采用的PerpetualCache-->
    <!--<cache type="org.apache.ibatis.cache.impl.PerpetualCache"/>-->
    <cache type="com.fadedos.springbootredis.cache.RedisCache"/>

    <!--由于缓存清除是以namespace来确定, 多表查询就存在问题,可以使用cache-ref来关联 ,若关联上面的cache可删除-->
    <!--    <cache-ref namespace=""/>-->


    <insert id="save" parameterType="com.fadedos.springbootredis.entity.User" keyProperty="id" useGeneratedKeys="true">
        insert into t_user values (#{id},#{username},#{password},#{salt})
    </insert>

    <delete id="delete">
        delete from t_user_copy1 where id =#{id}
    </delete>

    <!--findAll-->
    <select id="findAll" resultType="com.fadedos.springbootredis.entity.User">
        select id, username, password, salt
        from t_user_copy1
    </select>


    <select id="findById" resultType="com.fadedos.springbootredis.entity.User">
        select id, username, password, salt
        from t_user_copy1 where id =#{id}
    </select>
</mapper>